/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  background-image: url(Bekgron.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
}

.background-image {
  background-color: rgba(0, 0, 0, 0.7);
}


header {
  background-color: #333;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #f60;
  padding: 20px 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.hero {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}


.hero {
  animation-name: fade-in;
  animation-duration: 1s; /* Durasi animasi dalam detik */
  animation-timing-function: ease-in-out; /* Fungsi waktu animasi */
  animation-delay: 0s; /* Tunda animasi jika diperlukan */
}


.hero a {
  font-size: 18px;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  margin-bottom: 30px;
}

/* tombol */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f60;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  font-size: 20px;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

main {
  flex-grow: 1;
}

